# Top-most EditorConfig file, stops searching for other .editorconfig files
root = true

# Default settings (apply to all files)
[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Match Markdown files
[*.md]
trim_trailing_whitespace = false